cl_dll/Debug
cl_dll/Release
dlls/debughl
dlls/Debug
dlls/Releasehl
mapsrc/*.max
mapsrc/*.rmx
mapsrc/*.bsp
mapsrc/*.lin
mapsrc/*.p*
wadsrc/*.wad
# these .ls files are generated
wadsrc/dev.ls
wadsrc/tools.ls
utils/makels/Debug
utils/makels/Release
utils/qcsg/Debug
utils/qcsg/Release
utils/qbsp2/Debug
utils/qbsp2/Release
utils/qlumpy/Debug
utils/qlumpy/Release
utils/visx2/Debug
utils/visx2/Release
utils/qrad/Debug
utils/qrad/Release

# don't commit what can be compiled
basis/cl_dlls/*.dll
basis/dlls/*.dll

*.ncb
*.suo
*.vcproj.*

Thumbs.db

# Linux-specific
*~
hl_cdll_map.txt
hl_map.txt
common/obj
game_shared/obj
dlls/obj
dlls/mod/obj
dlls/wpn_shared/obj
pm_shared/obj
linux/release/obj/
